#backgroundLoginForm {
    width: 100vw;
    height : 100vh;
    background: linear-gradient(
            rgba(255,255,255,0.2),
            rgba(255,255,255,0.3)
    ),
    url("https://cache.marieclaire.fr/data/photo/w1200_h630_c17/5w/fleurs-domicile.jpg ") center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginForm {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 2px;
    margin: 100px;
}

#loginForm > input {
    flex:1;
    min-width: 625px;
    margin: 20px 10px 0 0;
    padding: 10px;
}

#loginForm > button {
    flex: 1;
    min-width: 625px;
    border: none;
    padding: 10px;
    background-color: #20B2AA;
    color: white;
    cursor: pointer;
    margin: 40px 10px 0 0;
    border-radius: 2px;
}

#loginTitle {
    font-family: "Microsoft GothicNeo", Microsoft, sans-serif;
    padding-top: 30px;
    padding-bottom: 100px;
    font-weight: bold;
}

#loginError {
    font-family: "Microsoft GothicNeo", Microsoft, sans-serif;
    padding-top: 30px;
    font-weight: bold;
}